# Maven
SLAMS/maven/

# Maven build output
SLAMS/target/

# Java compiled files
*.class
node_modules/
dist/
.venv/
__pycache__/
.pytest_cache/

# IDE files
.vscode/
.idea/
*.iml

# Environment / secrets
.env
